<!DOCTYPE html>
<html lang="en">
<%- include('./block/header.ejs') %>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <%- include('./block/nav.ejs') %>
                <!-- End of Sidebar -->

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <!-- Topbar -->
                        <%- include('./block/topnav.ejs') %>
                            <!-- End of Topbar -->

                            <!-- Begin Page Content -->
                            <div class="container-fluid">

                                <!-- Page Heading -->
                                <h1 class="h3 mb-2 text-gray-800">Nhập thông tin sản phẩm</h1>

                                <!-- DataTales Example -->


                                <% if (success !='' ) { %>
                                    <div class="alert alert-success">
                                        <%= success %>
                                    </div>
                                    <% } %>
                                        <% if (err !='' ) { %>
                                            <div class="alert alert-danger">
                                                <%= err %>
                                            </div>
                                            <% } %>
                                                <div class="card shadow mb-4" style="display: flex; height: 30rem;">
                                                    <form id="productForm" style="display: flex;"
                                                        action="http://localhost:3008/camera/api/v1/products"
                                                        method="post" enctype="multipart/form-data">

                                                        <div class="card" style="width: 30rem;">

                                                            <div
                                                                style="text-align: center;width: 100%; height: 100%; margin-top:1rem ; text-align: center;">
                                                                <img id="imgprd" class="card-img-top"
                                                                    src="/images/products/new-product.png"
                                                                    alt="Card image cap" id="selectedImage"
                                                                    style="width: 75%; height: 75%;">
                                                                <p class="card-text" style="text-align: center;">
                                                                    Hình ảnh sản phẩm
                                                                </p>
                                                                <label for="image">Chọn tệp hình ảnh:</label>
                                                                <input type="file" id="image" style="margin-left: 10px;"
                                                                    name="image">
                                                            </div>

                                                        </div>

                                                        <div class="card" style="width: 50rem;">

                                                            <div class="form-floating mb-3" style="margin: 20px;">
                                                                <label for="productName">Tên sản phẩm</label>
                                                                <input type="text" id="productName" class="form-control"
                                                                    placeholder="Nhập tên sản phẩm" value=""
                                                                    name="productName">
                                                                <label for="price">Giá sản phẩm</label>
                                                                <input type="text" id="price" class="form-control"
                                                                    placeholder="Nhập giá sản phẩm" value=""
                                                                    name="price">
                                                                <label for="price">Mô tả sản phẩm</label>
                                                                <textarea type="text" id="contentprd"
                                                                    class="form-control"
                                                                    placeholder="Nhập mô tả sản phẩm"
                                                                    name="content"></textarea>
                                                                <label for="count">Số lượng sản phẩm</label>
                                                                <input type="text" id="count" class="form-control"
                                                                    placeholder="Nhập số lượng sản phẩm" value=""
                                                                    name="count">
                                                                <label for="Category">Danh mục sản phẩm</label>
                                                                <select class="form-control" id="categoryId"
                                                                    name="categoryId">
                                                                    <% if(typeof categories !='undefined' ){ %>
                                                                        <option>
                                                                            chọn danh mục sản phẩm
                                                                        </option>
                                                                        <% categories.forEach(function(item, index,
                                                                            array) { %>
                                                                            <option value="<%= item.id %>">
                                                                                <%= item.categoryName %>
                                                                            </option>
                                                                            <% }) %>
                                                                                <% } %>
                                                                </select>

                                                                <div
                                                                    style="margin-top: 2rem; text-align: center; display: flex; justify-content: space-around;">
                                                                    <a href="/admin/product" class="btn btn-danger">Trở
                                                                        lại</a>
                                                                    <input type="submit" class="btn btn-primary"
                                                                        value="Xác nhận"></input>
                                                                </div>


                                                            </div>
                                                        </div>



                                                    </form>
                                                </div>


                            </div>
                            <!-- /.container-fluid -->

                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; Your Website 2020</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>


        <%- include('./block/footer.ejs') %>
            <script>
                const image = document.getElementById('image');
                const selectedImage = document.getElementById('selectedImage');
                image.addEventListener('change', function () {
                    const file = this.files[0];

                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            selectedImage.src = e.target.result;
                        };

                        reader.readAsDataURL(file);
                        const input2 = document.getElementById('image2');

                    } else {
                        selectedImage.style.display = 'none';
                    }
                });
            </script>
            <script>
                $(document).ready(function () {
                    // Gán hành động gửi biểu mẫu khi được nộp
                    $('#productForm').submit(function (event) {
                        // Ngăn chặn hành động mặc định của biểu mẫu
                        event.preventDefault();

                        // Tạo một FormData object để lưu trữ dữ liệu từ biểu mẫu
                        var formData = new FormData(this);

                        // Gửi yêu cầu Ajax
                        if (!validateForm()) {
                            // Nếu không, hiển thị thông báo và dừng lại
                            alert('Vui lòng nhập đầy đủ thông tin sản phẩm.');
                            return;
                        }

                        $.ajax({

                            url: $(this).attr('action'), // URL endpoint
                            type: 'POST', // Phương thức HTTP
                            data: formData, // Dữ liệu để gửi đi
                            processData: false, // Không xử lý dữ liệu
                            contentType: false, // Không đặt kiểu dữ liệu
                            success: function (response) {
                                // Xử lý phản hồi từ máy chủ
                                console.log(response);
                                alert('Thành công tạo ');
                                $('#categoryId').val('');
                                $('#productName').val('');
                                $('#contentprd').val('');
                                $('#count').val('');
                                $('#image').val('');
                                $('#price').val('');
                                $('#imgprd').src("/images/products/new-product.png");

                            },
                            error: function (xhr, status, error) {
                                // Xử lý lỗi nếu có
                                alert('Vui lòng nhập đầy đủ thông tin sản phẩm.');

                                console.error('Lỗi:', xhr.responseText);
                                console.error('Lỗi:', error);
                            }
                        });
                    });
                });
                function validateForm() {
                    // Kiểm tra từng trường một
                    var categoryId = $('#categoryId').val();
                    var productName = $('#productName').val();
                    var content = $('#contentprd').val();
                    var count = $('#count').val();
                    var price = $('#price').val();
                    var img = $('#image').val();

                    // Kiểm tra xem có trường nào trống không
                    if (img === '', categoryId === '' || productName === '' || content === '' || count === '' || price === '') {
                        return false;
                    }
                    return true;
                }
            </script>
    </body>

</html>